{{ form_start(form) }}
    {{ form_row(form.name) }}
    {{ form_row(form.description) }}
    <div class="row">
        <div class="col-md-7">
            {% for f in ['php', 'html', 'css', 'js'] %}
                {{ form_row(form[f]) }}
            {% endfor %}
        </div>
        <aside class="col-md-5">
            Preview :

            <iframe id="lab-preview" src="{{ path('lab_preview', {id : form.vars.value.id ? form.vars.value.id : 0}) }}"></iframe>
        </aside>
    </div>
<button class="btn">{{ button_label|default('Save') }}</button>

{{ form_end(form) }}
