{% extends 'base.html.twig' %}

{% block title %}Lab index{% endblock %}

{% block body %}
    <h1>Liste de mes labos</h1>

    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Description</th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody>
        {% for lab in labs %}
            <tr>
                <td>{{ lab.id }}</td>
                <td>{{ lab.name }}</td>
                <td>{{ lab.description }}</td>
                <td class="btn-group">
                    <a class="btn btn-sm btn-primary" href="{{ path('lab_show', {'id': lab.id}) }}">show</a>
                    <a class="btn btn-sm btn-success" href="{{ path('lab_edit', {'id': lab.id}) }}">edit</a>
                    <a class="btn btn-sm btn-default" href="{{ path('lab_duplicate', {'id': lab.id}) }}">duplicate</a>
                    <a class="btn btn-sm btn-info" href="{{ path('lab_archive', {'id': lab.id}) }}">archive</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        <a class="btn btn-success" href="{{ path('lab_new') }}">Ajouter un nouveau</a>

        {% if app.user.username != 'Cevantime' %}
            <h1>Liste des labos du formateur</h1>

            <table class="table">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>actions</th>
                </tr>
                </thead>
                <tbody>
                {% for lab in labsTeacher %}
                    <tr>
                        <td>{{ lab.id }}</td>
                        <td>{{ lab.name }}</td>
                        <td>{{ lab.description }}</td>
                        <td class="btn-group">
                            <a class="btn btn-sm btn-primary" href="{{ path('lab_show', {'id': lab.id}) }}">show</a>
                            <a class="btn btn-sm btn-default" href="{{ path('lab_duplicate', {'id': lab.id}) }}">duplicate</a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="8">no records found</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% endif %}
    {% endif %}
    <h1>Labos Archivés</h1>

    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Description</th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody>
        {% for lab in labsArchived %}
            <tr>
                <td>{{ lab.id }}</td>
                <td>{{ lab.name }}</td>
                <td>{{ lab.description }}</td>
                <td class="btn-group">
                    <a class="btn btn-sm btn-primary" href="{{ path('lab_show', {'id': lab.id}) }}">show</a>
                    <a class="btn btn-sm btn-success" href="{{ path('lab_edit', {'id': lab.id}) }}">edit</a>
                    <a class="btn btn-sm btn-default" href="{{ path('lab_duplicate', {'id': lab.id}) }}">duplicate</a>
                    <a class="btn btn-sm btn-info" href="{{ path('lab_archive', {'id': lab.id}) }}">archive</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
