{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/lab-preview.css') }}">
{% endblock %}

{% block title %}New Lab{% endblock %}

{% block body %}
    <h1>Create new Lab</h1>

    {{ include('lab/_form.html.twig') }}

    <a href="{{ path('lab_index') }}">back to list</a>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="{{ asset('sticky/jquery.sticky.js') }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.3/ace.js"></script>
    <script type="text/javascript" src="{{ asset('js/lab-live-preview.js') }}"></script>
{% endblock %}
